<!DOCTYPE html>
<html lang="en">
  <head>
  	<link href="/css/style.css" rel="stylesheet" />
    <title>Provider Access - Authentication Proof of Concept</title>

  </head>

  <body>
    {{{body}}}
  </body>
</html>