<h3>Hey, {{email}}!</h3>

You successfully logged-in \o/

<h3>This is the Provider Access software mock.</h3>
Click here to sign on (using SSO) to <a href="http://clinapps.com:3001/sso?targetUrl=some-patient/12345/edit" target="clinapps">Clinical Applications</a>.<br />
<iframe width="1024" height="768" name="clinapps"></iframe>