<h3>Hey, {{email}}!</h3>

You successfully logged-in \o/

<form method="post" action="{{sso_url}}" class="inline" target="clinapps">
  <input type="hidden" name="id_token" value="{{id_token}}">
  <button type="submit" name="" value="" class="link-button">
    Click here to sign on (using SSO) to Clinical Applications
  </button>
</form>
<iframe width="1024" height="768" name="clinapps"></iframe>